<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netpluspay.netposbarcodesdk">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetposLibrary">
        <activity
            android:name=".CodeScannerActivity"
            android:exported="false"
            android:label="@string/title_activity_code_scanner"
            android:theme="@style/Theme.NetposLibrary.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BarcodeActivity"
            android:exported="true"></activity>
    </application>

</manifest>